@import 'react-date-range/dist/styles.css'; // main style file
@import 'react-date-range/dist/theme/default.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import '../node_modules/bootstrap/scss/bootstrap';

.section-title {
    text-align: center;
    margin: 80px auto;
}

.page {
    margin: 0 120px;
}

.loading-spinner-wrapper {
    text-align: center;
}
