[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tensorflow = {file = "https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl"}
nlp = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
