@import '../../node_modules/bootstrap/scss/bootstrap';
@import './vars.scss';

.search-filters {
    .search-filter {
        @extend .row;
        margin-top: 30px;

        .label {
            @extend .col-md-3;
            font-size: 20px;
            max-width: 250px;
            text-align: left;
            vertical-align: middle;
        }
    }

    .date-selector {
        .label {
            margin: 0.833em 0;
        }

        .date-display-wrapper {
            background-color: $background-theme-color;
            border: 1px solid $background-theme-color;
        }

        .date-display {
            margin: auto !important;
            span {
                margin: 0.833em;
            }

            input {
                font-size: 12px;
            }
        }
    }
}
