.social-media-analysis {
    .submit {
        margin: 30px 10px;
    }

    .temp-placeholder {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        font-size: 26px;
        margin: 50px 0;
    }
}
